*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: nome;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-waraper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 34rem;
}

.intagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
 .group {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     background-color: #fff;
     width: 100%;
     padding: 1.3rem 0;
     border: 1px solid lightgrey;
 }

 .group:nth-child(1) {
     min-height: 19rem;
 }

 .intagram-logo {
     height: 3rem;
 }

 .group img{
     width: 50%;
 }
 .profile-photo {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     overflow: hidden;
 }

 .profile-photo img {
     height: 6rem;
 }

 .instagram-login{
     background-color: #0095f6;
     color: #fff;
     padding: 4px;
     border-radius: 6px;
 }
 .not-account {
    color: rgb(160, 160, 160);
}

 .instagram-logout {
     color: #0095f6;
     margin-top: 1rem;
 }

 .link-blue {
     color: #0095f6;
 }

 .pegue-aplicativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    color: rgb(160, 160, 160);
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(./images/appstore.jpg);
}

.app-download:nth-child(2) {
    background-image: url(./images/googlestore.png);
}

/* ajuste tela */ 

@media (max-width: 1024px) {
    .instagram-waraper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-waraper {
        width: 90%;
    }
    
    body {
        background-color: rgb(255, 255, 255);
    }
    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;

    }
    .group {
        border: 1px solid transparent;
    }
}